<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Vue</title>
  <script src="vue.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="main.js" async defer></script>
</head>

<body>
  <div  class="container">
    <div id="app" >
      <div class="col-md-12 lead-form">
        <div class="row ">

          <h1>{{ greeting }}</h1>
        
        <div class="col-md-6">
            <p><button @click="changeLink">Change Link</button>
           
          <a :href="link">Link</a> this is a link</p>
          <button v-on:click="counter++">increase</button>
              <button v-on:click="counter--">Decrease</button>
              <button v-on:click="secondCounter++">increase second</button>
              <p>counter : {{ counter }} | {{ secondCounter }}</p>
              <p>result : {{ result() }} | {{ output }} </p>
          <div class="demo" @click="attachRed=!attachRed" :class="divClasses"></div>
          <div class="demo" @click="attachYellow=!attachYellow" :class="{ yellow : attachYellow }"></div>
          <div class="demo" :class="[color,{yellow:attachYellow}]"></div>
          <input v-model="color" type="text">
        </div>
        <div class="col-md-6">
             
            <div class="demo" :style="{backgroundColor:newColor}" ></div>
            <div class="demo" :style="{backgroundColor:newColor},myStyle" ></div>
            <div class="demo" :style="[myStyle,{height:width + 'px'}]" ></div>
            <input v-model="newColor" type="text">
            <input v-model="width" type="text">
          </div>
          
        </div>
        <div class="clearfix">
            <hr/>
          </div>
        <div class="row">
          <div class="col-md-6">
              <!-- <img src="https://vuejs.org/images/logo.png" alt="Vue logo"> -->
              <p v-if="showp">you can see me !! </p>
                <p v-else> can you see me !! </p>
                <template v-if="showp">
                  <h1>inside a template para </h1>
                  <p>inside a template para </p>
                  <h2>inside a template para </h2>
                  <p>inside a template para </p>
                </template>
              <p v-show="showp">you can also see me !! </p>
              <button @click="showp = !showp">hitme!!!</button>
            </div>
            <div class="col-md-6">
              <!-- <img src="https://vuejs.org/images/logo.png" alt="Vue logo"> -->
               <ul>
                <li v-for="(i,ingredient) in ingredients" :key="ingredient">{{i}} {{ ingredient }}</li>
               </ul>
               <button @click="ingredients.push('spices')">add new</button>
               <template v-for="(i,ingredient) in ingredients">
                 <h6>{{i}} </h6>
                 <p>{{ ingredient }}</p>
               </template>
            </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p v-for="person in persons">
            {{person.name}},{{person.age}}
          </p>
          <ul>
            <li v-for="n in 10">{{n}}</li>
          </ul>

        </div>
      </div>
    </div>

    </div>

  </div>


</body>

</html>